/* CSS Reset for total control over all padding / margins */
* {
  padding: 0;
  margin: 0;
  display: border-box;
  
}


html, body {
  background-color: #242428;
  /* color: white; */
}

.card-container.card {
  max-width: 350px !important;
  padding: 40px 40px;
}

.card {
  background-color: #f7f7f7;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.WelcomePage {
  border: solid 50px transparent;
  /* color: aliceblue; */
  font-weight: 600;
  font-size: 70px;
  line-height:65px;
  /* letter-spacing: 10px;
  text-align: center;
  text-transform: uppercase; */
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-size: 90%;
  animation: move 5s ease infinite;
  background-image: linear-gradient( 68.7deg,  rgba(29,173,235,1) 13.2%, rgba(137,149,250,1) 29.8%, rgba(229,109,212,1) 48.9%, rgba(255,68,128,1) 68.2%, rgba(255,94,0,1) 86.4% );
}

@keyframes move {
  0%,100%{
      background-position: 200% 0%;
  }

  50%{
      background-position: 0% 200%;
  }
}

.profile_container {
  color: white;
}

.container-fluid {
  background-color: #242428;
}

.login-class {
  margin: 0px 12px;
}

.btn:hover {
  color: #FF5E03 ;
}

.Auth-form-container-LogIn {
  display:flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  border: 50px solid;
  padding-left: 9%;
  padding-right: 9%;
}

.Auth-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  padding-left: 9%;
  padding-right: 9%;
}

.navbar-nav-custom {
  margin-left: 980px;
}

.Auth-form {
  width: 420px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: white;
  padding-left: 5%;
  padding-right: 5%;
}

.Auth-form-title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  color: rgb(34, 34, 34);
  font-weight: 800;
}

label {
  font-size: 14px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}
