
.button {
  border: none;
  background-color: transparent;
  color: white;
  font-size: 16px;
  margin: 4px 8px;
  cursor: pointer;
}

.footer {
  position:absolute;
  bottom:0;
  width:100%;
  height:40px;   /* Height of the footer */
  background:transparent;
  text-align: center;
  background-color: rgb(36, 36, 40);
}

.container-fluid {
  background-color: rgb(36, 36, 40);
}

.HomePage {
  /* color: aliceblue; */
  font-weight: 600;
  font-size: 70px;
  line-height:65px;
  /* letter-spacing: 10px;
  text-align: center;
  text-transform: uppercase; */
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-size: 400%;
  animation: move 5s ease infinite;
  background-image: linear-gradient( 68.7deg,  rgba(29,173,235,1) 13.2%, rgba(137,149,250,1) 29.8%, rgba(229,109,212,1) 48.9%, rgba(255,68,128,1) 68.2%, rgba(255,94,0,1) 86.4% );
}

@keyframes move {
  0%,100%{
      background-position: 200% 0%;
  }

  50%{
      background-position: 0% 200%;
  }
}



