html, body {
  background-color: #242428;
}

.button {
  text-decoration: none;
  border: none;
  background-color: transparent;
  color: white;
  font-size: 16px;
  margin: 4px 8px;
  cursor: pointer;
}

.button:hover {
  color: #FF5E03 ;
}

.LogIn-SignUp {
  margin: 0px auto;
  margin-left: 680px;
  display: flex;
  justify-content: space-between;
}

.login {
  float: left;
  margin: 5px auto;
}


input{
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
   border-radius: 20px;
   border: 1px solid rgba(255,94,0,1) 86.4% ;
   color: #242428;
   height: 30px;
   padding-left: 10px;
  }

.footer {
  position:absolute;
  bottom:0;
  width:90%;
  height:40px;   /* Height of the footer */
  background:transparent;
  text-align: center;
  background-color: #242428;
}

.container-fluid {
  background-color: #242428;
  
}

.HomePage {
  border: solid 50px transparent;
  /* color: aliceblue; */
  font-weight: 600;
  font-size: 70px;
  line-height:65px;
  /* letter-spacing: 10px;
  text-align: center;
  text-transform: uppercase; */
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-size: 90%;
  animation: move 5s ease infinite;
  background-image: linear-gradient( 68.7deg,  rgba(29,173,235,1) 13.2%, rgba(137,149,250,1) 29.8%, rgba(229,109,212,1) 48.9%, rgba(255,68,128,1) 68.2%, rgba(255,94,0,1) 86.4% );
}

@keyframes move {
  0%,100%{
      background-position: 200% 0%;
  }

  50%{
      background-position: 0% 200%;
  }
}

.Auth-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
}

.Auth-form {
  width: 420px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: white;
}

.Auth-form-content {
  padding-left: 12%;
  padding-right: 12%;
}

.Auth-form-title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  color: rgb(34, 34, 34);
  font-weight: 800;
}

label {
  font-size: 14px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}




